body{
    overflow-x: hidden;
}

a{
    color:$black;
    text-decoration:none;
    &:hover, &:focus {
        text-decoration: none;
        outline:0;
    }
}

input,button,select{
    -webkit-appearance: none;
    appearance: none;
    border:0;
    padding:0;
    -webkit-border-radius: 0;
    border-radius:0;
    outline-offset: 0;
    outline: 0;
    background-color: transparent;
}

input{
    float:left;
    padding:0 24px;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
    font-weight: normal;
}

ul, menu, dir {
    list-style: none;
    padding:0;
    margin:0;
}

img{
    display: block;
    max-width: 100%;
}
