//ESCALA CINZAS
$black : #000000 !default;
$gray-extra-darker : #222222 !default;
$gray-extra-dark : #444444 !default;
$gray-darker : #666666 !default;
$gray-dark : #888888 !default;
$gray : #aaaaaa !default;
$gray-light : #bbbbbb !default;
$gray-lighter : #cccccc !default;
$gray-extra-light : #dddddd !default;
$gray-extra-lighter : #eeeeee !default;
$white : #FFFFFF !default;

//CORES BOOTSTRAP ESSENCIAIS PARA CORES DE ALERT/WARNING/SUCCESS
$brand-primary : #0298ae !default;
$brand-success : #65f67d !default;
$brand-info : #0298ae !default;
$brand-warning : #d7a436 !default;
$brand-danger : #ed1c24 !default;

//CORES LAYOUT
$primaryColor: #005d7c !default;
$secondaryColor: #00a7e5 !default;
$thirdColor: #606060 !default;
$fourthColor: #565656 !default;
$fifthColor: #ebebeb !default;
$sixthColor: #f3f3f3 !default;