@import "variables";
$font-path: "../fonts" !default;
//@import url('https://fonts.googleapis.com/css?family=Heebo:300');
/*@font-face {
    font-family: 'fontName';
    src:    url('#{$font-path}/fontName.eot');
    src:    url('#{$font-path}/fontName.eot#iefix') format('embedded-opentype'),
        url('#{$font-path}/fontName.ttf') format('truetype'),
        url('#{$font-path}/fontName.woff') format('woff'),
        url('#{$font-path}/fontName.svg#fontName') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/* ICONS */
//** File name for all font files.
$icomoon-font-path: "../fonts" !default;
$icon-example: "\e908";

@font-face {
  font-family: 'icomoon';
  src: url('#{$icomoon-font-path}/icomoon.eot');
  src: url('#{$icomoon-font-path}/icomoon.eot#iefix') format('embedded-opentype'), url('#{$icomoon-font-path}/icomoon.ttf') format('truetype'), url('#{$icomoon-font-path}/icomoon.woff') format('woff'), url('#{$icomoon-font-path}/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon($font-size, $color) {
  font-family: 'icomoon' !important;
  font-size: $font-size;
  color: $color;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include transition(color 200ms ease-in-out);
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-extraLight {
  font-weight: 200;
}
@mixin font-light {
  font-weight: 300;
}
@mixin font-regular {
  font-weight: 400;
}
@mixin font-medium {
  font-weight: 500;
}
@mixin font-semiBold {
  font-weight: 600;
}
@mixin font-bold {
  font-weight: 700;
}
@mixin font-extraBold {
  font-weight: 800;
}
@mixin font-black {
  font-weight: 900;
}

@mixin fontName($font-size, $line-height, $color) {
  font-family: 'fontName', sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

.icon-facebook-07 {
  &:before {
    content: $icon-facebook-07;
  }
}
.icon-apoios {
  &:before {
    content: $icon-apoios;
  }
}
.icon-arrow_menu {
  &:before {
    content: $icon-arrow_menu;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-call {
  &:before {
    content: $icon-call;
  }
}
.icon-checked {
  &:before {
    content: $icon-checked;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-close-envelope {
  &:before {
    content: $icon-close-envelope;
  }
}
.icon-development {
  &:before {
    content: $icon-development;
  }
}
.icon-humidity {
  &:before {
    content: $icon-humidity;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-link-symbol {
  &:before {
    content: $icon-link-symbol;
  }
}
.icon-mapa-01 {
  &:before {
    content: $icon-mapa-01;
  }
}
.icon-movie-player-play-button {
  &:before {
    content: $icon-movie-player-play-button;
  }
}
.icon-new_user_hover {
  &:before {
    content: $icon-new_user_hover;
  }
}
.icon-pdf {
  &:before {
    content: $icon-pdf;
  }
}
.icon-placeholder-for-map {
  &:before {
    content: $icon-placeholder-for-map;
  }
}
.icon-reserved_area_on_mobile-01 {
  &:before {
    content: $icon-reserved_area_on_mobile-01;
  }
}
.icon-serach_on {
  &:before {
    content: $icon-serach_on;
  }
}
.icon-skype {
  &:before {
    content: $icon-skype;
  }
}
.icon-technical_support {
  &:before {
    content: $icon-technical_support;
  }
}
.icon-technical_support_hover {
  &:before {
    content: $icon-technical_support_hover;
  }
}
.icon-telephone {
  &:before {
    content: $icon-telephone;
  }
}
.icon-thermometer {
  &:before {
    content: $icon-thermometer;
  }
}
.icon-twitter-06 {
  &:before {
    content: $icon-twitter-06;
  }
}
.icon-upload-button {
  &:before {
    content: $icon-upload-button;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}