//CONTAINER E BREAKING POINTS

$grid-columns: 12 !default; //** Numero de colunas.
$grid-gutter-width: 20px !default; //** Padding Entre Colunas. É dividido em metade para a esquerda e direita.

$screen-xs: 320px !default;
$screen-sm: 768px !default;
$screen-md: 1024px !default;
$screen-lg: 1200px !default;
$screen-xl: 1500px !default;

$container-tablet: (720px + $grid-gutter-width) !default; //** For `$screen-sm-min` and up.
$container-desktop: (980px + $grid-gutter-width) !default;
$container-large-desktop: (1140px + $grid-gutter-width) !default;
$container-xlarge-desktop: (1468px + $grid-gutter-width) !default; //** For `$screen-lg-min` and up.

/* MEDIA QUERIES MIXINS */

@mixin min-xs {
   @media (min-width: $screen-xs-min){
    @content;
  }
}
@mixin min-sm {
   @media (min-width: $screen-sm-min){
    @content;
  }
}
@mixin min-md {
   @media (min-width: $screen-md-min){
    @content;
  }
}
@mixin min-lg {
   @media (min-width: $screen-lg-min){
    @content;
  }
}
@mixin min-xl {
   @media (min-width: $screen-xl-min){
    @content;
  }
}

@mixin max-xs {
   @media (max-width: $screen-xs-max){
    @content;
  }
}
@mixin max-sm {
   @media (max-width: $screen-sm-max){
    @content;
  }
}
@mixin max-md {
   @media (max-width: $screen-md-max){
    @content;
  }
}
@mixin max-lg {
   @media (max-width: $screen-lg-max){
    @content;
  }
}
@mixin max-xl {
   @media (max-width: $screen-xl-max){
    @content;
  }
}


@mixin mobile {
   @media (max-width: $screen-xs-max){
    @content;
  }
}

@mixin portable {
   @media (min-width: $screen-sm) and (max-width: $screen-md-max){
    @content;
  }
}

$icon-facebook-07: "\e908";
$icon-apoios: "\e900";
$icon-arrow_menu: "\e901";
$icon-calendar: "\e902";
$icon-call: "\e903";
$icon-checked: "\e904";
$icon-clock: "\e905";
$icon-close-envelope: "\e906";
$icon-development: "\e907";
$icon-humidity: "\e90a";
$icon-linkedin: "\e90b";
$icon-link-symbol: "\e90c";
$icon-mapa-01: "\e90d";
$icon-movie-player-play-button: "\e90e";
$icon-new_user_hover: "\e90f";
$icon-pdf: "\e910";
$icon-placeholder-for-map: "\e911";
$icon-reserved_area_on_mobile-01: "\e912";
$icon-serach_on: "\e913";
$icon-skype: "\e914";
$icon-technical_support: "\e915";
$icon-technical_support_hover: "\e916";
$icon-telephone: "\e917";
$icon-thermometer: "\e918";
$icon-twitter-06: "\e919";
$icon-upload-button: "\e91a";
$icon-youtube: "\e91b";
