nav {
    @include position(fixed, 0 auto auto 0);
    @include size(100% auto);
}

.nav_topbar {
    background-color: $fourthColor;
    width: 100%;
    padding: 10px 0;
    .nav_topbar__links {
        float: right;
        .nav_topbar__links-link {
            display: inline-block;
            margin-left: 20px;
            a {
                font-family: 'Raleway', sans-serif;
                font-weight: 800;
                font-size: 11px;
                color: $white;
                text-transform: uppercase;
                @include transition(color 200ms ease);
                i {
                    margin-right: 5px;
                    font-size: 15px;
                    color: $secondaryColor;
                }
                &:hover {
                    color: $secondaryColor;
                }
            }
        }
    }
}

.nav_mainbar {
    background-color: $white;
    display: flex;
    align-items: center;
    @include size(100% 115px);
    .nav_mainbar_items {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        @include size(100% 115px);
        #logo-link {
            float: left;
        }
        .nav_mainbar__content {
            float: right;
            height: 115px;
            .nav_mainbar__links {
                float: right;
                position: relative;
                height: 100%;
                display: flex;
                align-items: center;
                &::after {
                    content: '';
                    background-color: #bfbfbf;
                    opacity: .5;
                    display: inline-block;
                    @include size(1px 100%);
                    @include position(absolute, 0 0 auto auto);
                }
                .mainbar__links_link {
                    display: inline-block;
                    margin: 0 17.5px;
                    a {
                        font-family: 'Raleway', sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: $thirdColor;
                        @include transition(color 200ms ease);
                    }
                    &:hover {
                        a {
                            color: $secondaryColor;
                        }
                    }
                }
            }
            .nav_languages {
                padding: 0 25px;
                float: right;
                position: relative;
                height: 100%;
                display: flex;
                align-items: center;
                &::after {
                    content: '';
                    background-color: #bfbfbf;
                    opacity: .5;
                    display: inline-block;
                    @include size(1px 100%);
                    @include position(absolute, 0 0 auto auto);
                }
            }
            .nav_search{
                padding: 0 25px;
                float: right;
                position: relative;
                height: 100%;
                display: flex;
                align-items: center;
                &::after {
                    content: '';
                    background-color: #bfbfbf;
                    opacity: .5;
                    display: inline-block;
                    @include size(1px 100%);
                    @include position(absolute, 0 0 auto auto);
                }
            }
        }
    }
}