// banner homepage - owlcarousel
.owl-home {
    position: relative;
    .owl-nav {
        @include position(absolute, 50% auto auto 50%);
        @include transform(translate(-50%, -50%));
        @include size(100% auto);
        .owl-prev {
            float: left;
            margin-left: 105px;
            background: transparent;
            &:hover {
                background: transparent;
                
                &::before{
                    color: $primaryColor;
                }
            }

            &::before{
                content: $icon-arrow_menu;
                @include transform(rotate(-180deg));
                display: inline-block;
                @include icon(39px, $secondaryColor);
            }
        }
        .owl-next {
            float: right;
            margin-right: 105px;
            background: transparent;
            &:hover {
                background: transparent;

                &::before{
                    color: $primaryColor;
                }
            }
            &::before{
                content: $icon-arrow_menu;
                @include icon(39px, $secondaryColor);
            }
        }
    }
}

.owl-home .wrapper-text {
    @include position(absolute, auto auto 210px 0);
    z-index: 1;
    p {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        color: $white;
        font-size: 40px;
        line-height: 48px;
    }
}